.allHeader__p{
    font-size: 28px;
    margin: 0;
    color: var(--black-color);
    font-weight: 700;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
}

.allDesp__p {
    font-size: 17px;
    color: var(--black-color);
    margin: 0;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;  
    padding-bottom: 36px; 
}

.all-btn {
    background-color: var(--primary-color);
    font-size: 15px;
    width: 270px;
    color: #fff;
}

.all-btn:hover,.all-btn:focus,.all-btn:active {
    background-color: var(--primary-color);
    color: #fff;
}

.allPHeader__p {
    font-size: 20px;
    margin: 0;
    color: var(--black-color);
    font-weight: 700;
    padding-bottom: 34px;
}

.patient__div{
    width: 310px;
    margin: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--grey-color);
}

.p__name {
    font-size: 14px;
    margin: 0;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.2;
}

.p__date {
    font-size: 12px;
    margin: 0;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.3;
}

.p__scheduled {
    font-size: 10px;
    margin: 0;
    color: var(--primary-color);
    font-weight: 400;
    line-height: 1.8;
    padding-bottom: 8px;
}

.p__phoneImg {
    position: absolute;
    right: 0;
    top: 10px;
}

.pAllSHeader__p {
    font-size: 11px;
    margin: 0;
    color: var(--black-color);
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 1px;
}

.pAllSHeader__div {
    padding: 14px 24px;
    width: 360px;
    margin-bottom: 12px;
    background-color: var(--grey-color);
    margin-top: 112px;
}

.patientAll__div{
    width: 310px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--grey-color);
}

.p__newSession {
    position: absolute;
    right: 24px;
    top: 24px;
    background-color: var(--primary-color);
    color: #fff;
    width: 177px;
    height: 48px;
}

.p__newSession:hover,.p__newSession:focus,.p__newSession:active {
    background-color: var(--primary-color);
    color: #fff;

}

.p__newSessiontxt{
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3;
}


@media (max-width:425px) {
    .welHITWHeader__p {
        padding-top: 65px;
    }

    .p__phoneImg {
        right: 25px;
    }

    .patientAll__div{
        margin: auto;
    } 

    .pAllSHeader__div {
        width: unset;
        margin-top: 0px;
    }

    .p__newSession {
        top: unset;
        bottom: -500px;
        z-index: 1;
    }

}