.allHeader__p{
    font-size: 28px;
    margin: 0;
    color: var(--black-color);
    font-weight: 700;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
}

.allDesp__p {
    font-size: 17px;
    color: var(--black-color);
    margin: 0;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;   
}

.all-btn {
    background-color: var(--primary-color);
    font-size: 15px;
    width: 270px;
    color: #fff;
}

.all-btn:hover,.all-btn:focus,.all-btn:active {
    background-color: var(--primary-color);
    color: #fff;
}



.allPHeader__p {
    font-size: 20px;
    margin: 0;
    color: var(--black-color);
    font-weight: 700;
    padding-bottom: 34px;
}



@media (max-width:425px) {
    .welHITWHeader__p {
        padding-top: 65px;
    }
}